<div *ngIf="!isImageDeleted" class="container">
  <div class="image-name">{{image.title}}</div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button class="mat-menu-item" mat-menu-item (click)="deleteImage()">מחק תמונה</button>
    <button class="mat-menu-item" mat-menu-item (click)="moveImageToPublicAlbum()">ותר על הזמנה</button>
  </mat-menu>

  <img class="image" (click)="openImage()" src="{{image.link}}" alt="{{image.title}}" />
</div>
