html, body {
  background: white;
  height: 100%;
  overflow: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon {
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
